{% extends 'base.html.twig' %}

{% block body %}
    {% if wishLists == null %}
        <p>No list</p>
    {% else %}
        {% for wishList in wishLists %}
            {{ wishList.name }}
        {% endfor %}
    {% endif %}
{% endblock %}